/* Generics */
body {
    overflow: hidden;
}

li {
    list-style-type: none;
}

/* header */
header {
    background-color: #FFFFFF;
}

header img {
    max-height: 54px;
}

header input.form-control {
    background-color: #E5E5E5;
}

.fa-bell {
    color: #FF8F00;
}

/* wrapper */
.wrapper {
    height: calc(100vh - 80px);
}

/* sidebar (left area) */
.sidebar {
    width: 60px;
    background-image: url(../asset/img/sidebar-bg.png);
    background-color: #051E34;
}

/* main (right area) */
.wrapper-jr {
    background-color: red;
    width: 100%;
    overflow: auto;
}

.summary {
    background-color: #1B72E8;
    height: 200px;
}

.boards {
    background-color: grey;
}
